{% extends "main/base.html" %}

{% block title %}

Abdulloh motivator

{% endblock %}

{% block content %}

<h1> Bizda hamma kurslar </h1>

<form method="get">
    <h3>Filtering</h3>
    <label for="price_from">Boshlanish narxi</label>
    <input type="number" min="0" name="price_from">

    <label for="price_to">Tugash narxi</label>
    <input type="number" min="0" name="price_to">
    <button type="submit">Filterlash</button>

    <h3>Qidiruv</h3>
    <label for="search">Yozing</label>
    <input type="text" name="search" placeholder="Kurs nomini kiriting" value="{{search}}">
    <button type="submit">Qidirish</button>
</form>

<ul>
    {% for kurs in courses %}
    <li>{{kurs.title}} - {{kurs.price}} {% if kurs.discount %}- {{kurs.discount}} {% if kurs.discount_type == 'percent' %} % {% else %} so'm {% endif %} chegirma bor{% endif %} </li>
    {% empty %}
    <h2>Hech narsa topilmadi</h2>
    {% endfor %}
</ul>

{% endblock %}